@-webkit-keyframes fadeIn  {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-webkit-keyframes beat {
    to {
        box-shadow: inset 0px 0px 10px rgb(70, 30, 30);
    }
}

#settings {
    position: absolute;
    top:0;
    z-index: 1;
    width:100%; height:100%;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.5s ease-in;
    -webkit-transform: translate3d(-100%, 0, 0);
    -webkit-animation:fadeIn 1s reverse;
}
#settings:target {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-animation:fadeIn 1s;
}

#settings-canvas {
    display: block;
    max-height: 95%;
    border: 1px solid #2B2B2B;
    background: #333;
    box-shadow:inset 0px 0px 5px rgb(45, 45, 45);
}

.settings-main {
    float: left;
    margin: 2.5%;
    width: 75%;
}

.message {
    text-align: center;
    color:#eee;
}

.settings-actions {
    margin: 2.5% 0;
    padding: 1em;
    border: 1px solid rgb(40, 40, 40);
    background-color: rgba(50, 50, 50, 0.95);
}

.settings-sidebar {
    overflow: scroll;
    padding:1em;
    width: 20%;
    height: 100%;
    border-left: 2px solid rgb(80, 21, 21);
    background: #A51E1E;
}

.curve-container {
    position: relative;
    overflow: scroll;
    height: 80%;
    border-top: 5px solid rgb(111, 11, 11);
    border-bottom: 5px solid rgb(100, 15, 15);
    box-shadow: inset 0px 0px 30px rgb(77, 7, 7);
}

.curve-container.empty {
    -webkit-animation:beat 1s infinite alternate linear;
}

.curve {
    display: block;
    margin: 0.5em auto 0em;
    padding: 0.5em;
    background: rgb(31, 27, 27);
    color: #eee;
}
.curve.selected {
    border:4px solid;
}

.settings-curve-add { width: 49%; border-radius:0 !important; }
.settings-curve-remove { width: 49%; }

.background-fiber {
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHklEQVQIW2NkQAXGjEh8YyD7LEwAzAFJggTgHJAAAE+uAzjGgU3wAAAAAElFTkSuQmCC);
}

.flip-clock-wrapper ul {
    margin:0 !important;
    -webkit-transform:scale(0.75);
}
